@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua);

label {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
}
label:first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
    font-weight: bold;
}
select {
    text-transform: none;
}
input, select {
    border: 3px solid darkgoldenrod;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    text-indent: 1ex;
    border-radius: 6px;
    background-color: lightgoldenrodyellow;
    color: navy;
}
input:focus, select:focus {
    border: 3px solid palegoldenrod;
    border-radius: 0;
    /*-webkit-outline-radius: 6px;*/
    -webkit-box-shadow: 0 0 50px 0 rgba(250,250,210,1);
    -moz-box-shadow: 0 0 50px 0 rgba(250,250,210,1);
    box-shadow: 0 0 50px 0 rgba(250,250,210,1);
    outline: 3px dashed navy;
}
select {
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}