div.view {
    border: 1px solid yellow;
    overflow: visible;
}

div.victories {
    border: 1px solid yellow;
    top: -1px;
    left: -1px;
}

div.kingdoms {
    border: 1px solid yellow;
    top: -1px;
    left: 319px;
}

div.treasures {
    border: 1px solid yellow;
    top: -1px;
    right: -1px;
}

div.hand {
    border: 1px solid yellow;
    bottom: -1px;
    left: 289px;
}

div.playing {
    border: 1px solid yellow;
    left: 169px;
    top: 399px;
}