
@-moz-keyframes fx-fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fx-fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fx-fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.deck figure { opacity: 0; }
.deck:nth-child(1) figure:nth-child(1) { animation: fx-fadein .3s 0.1s forwards; -webkit-animation: fx-fadein .3s 0.1s forwards; -moz-animation: fx-fadein .3s 0.1s forwards; }
.deck:nth-child(1) figure:nth-child(2) { animation: fx-fadein .3s 0.2s forwards; -webkit-animation: fx-fadein .3s 0.2s forwards; -moz-animation: fx-fadein .3s 0.2s forwards; }
.deck:nth-child(2) figure:nth-child(1) { animation: fx-fadein .3s 0.3s forwards; -webkit-animation: fx-fadein .3s 0.3s forwards; -moz-animation: fx-fadein .3s 0.3s forwards; }
.deck:nth-child(2) figure:nth-child(2) { animation: fx-fadein .3s 0.4s forwards; -webkit-animation: fx-fadein .3s 0.4s forwards; -moz-animation: fx-fadein .3s 0.4s forwards; }
.deck:nth-child(2) figure:nth-child(3) { animation: fx-fadein .3s 0.5s forwards; -webkit-animation: fx-fadein .3s 0.5s forwards; -moz-animation: fx-fadein .3s 0.5s forwards; }
.deck:nth-child(2) figure:nth-child(4) { animation: fx-fadein .3s 0.6s forwards; -webkit-animation: fx-fadein .3s 0.6s forwards; -moz-animation: fx-fadein .3s 0.6s forwards; }
.deck:nth-child(2) figure:nth-child(5) { animation: fx-fadein .3s 0.7s forwards; -webkit-animation: fx-fadein .3s 0.7s forwards; -moz-animation: fx-fadein .3s 0.7s forwards; }
.deck:nth-child(3) figure:nth-child(1) { animation: fx-fadein .3s 0.8s forwards; -webkit-animation: fx-fadein .3s 0.8s forwards; -moz-animation: fx-fadein .3s 0.8s forwards; }
.deck:nth-child(1) figure:nth-child(3) { animation: fx-fadein .3s 0.9s forwards; -webkit-animation: fx-fadein .3s 0.9s forwards; -moz-animation: fx-fadein .3s 0.9s forwards; }
.deck:nth-child(1) figure:nth-child(4) { animation: fx-fadein .3s 1.0s forwards; -webkit-animation: fx-fadein .3s 1.0s forwards; -moz-animation: fx-fadein .3s 1.0s forwards; }
.deck:nth-child(2) figure:nth-child(6) { animation: fx-fadein .3s 1.1s forwards; -webkit-animation: fx-fadein .3s 1.1s forwards; -moz-animation: fx-fadein .3s 1.1s forwards; }
.deck:nth-child(2) figure:nth-child(7) { animation: fx-fadein .3s 1.2s forwards; -webkit-animation: fx-fadein .3s 1.2s forwards; -moz-animation: fx-fadein .3s 1.2s forwards; }
.deck:nth-child(2) figure:nth-child(8) { animation: fx-fadein .3s 1.3s forwards; -webkit-animation: fx-fadein .3s 1.3s forwards; -moz-animation: fx-fadein .3s 1.3s forwards; }
.deck:nth-child(2) figure:nth-child(9) { animation: fx-fadein .3s 1.4s forwards; -webkit-animation: fx-fadein .3s 1.4s forwards; -moz-animation: fx-fadein .3s 1.4s forwards; }
.deck:nth-child(2) figure:nth-child(10){ animation: fx-fadein .3s 1.5s forwards; -webkit-animation: fx-fadein .3s 1.5s forwards; -moz-animation: fx-fadein .3s 1.5s forwards; }
.deck:nth-child(3) figure:nth-child(2) { animation: fx-fadein .3s 1.6s forwards; -webkit-animation: fx-fadein .3s 1.6s forwards; -moz-animation: fx-fadein .3s 1.6s forwards; }
.deck:nth-child(3) figure:nth-child(3) { animation: fx-fadein .3s 1.7s forwards; -webkit-animation: fx-fadein .3s 1.7s forwards; -moz-animation: fx-fadein .3s 1.7s forwards; }

.player.hand > div > div {
    opacity: 0;
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.player.hand > div > div:nth-child(1)  {animation: fx-fadein .3s 2.1s forwards; -webkit-animation: fx-fadein .3s 2.1s forwards; -moz-animation: fx-fadein 3s 2.1s forwards; }
.player.hand > div > div:nth-child(2)  {animation: fx-fadein .3s 2.2s forwards; -webkit-animation: fx-fadein .3s 2.2s forwards; -moz-animation: fx-fadein 3s 2.2s forwards; }
.player.hand > div > div:nth-child(3)  {animation: fx-fadein .3s 2.3s forwards; -webkit-animation: fx-fadein .3s 2.3s forwards; -moz-animation: fx-fadein 3s 2.3s forwards; }
.player.hand > div > div:nth-child(4)  {animation: fx-fadein .3s 2.4s forwards; -webkit-animation: fx-fadein .3s 2.4s forwards; -moz-animation: fx-fadein 3s 2.4s forwards; }
.player.hand > div > div:nth-child(5)  {animation: fx-fadein .3s 2.5s forwards; -webkit-animation: fx-fadein .3s 2.5s forwards; -moz-animation: fx-fadein 3s 2.5s forwards; }
.player.hand > div > div:nth-child(6)  {animation: fx-fadein .3s 2.6s forwards; -webkit-animation: fx-fadein .3s 2.6s forwards; -moz-animation: fx-fadein 3s 2.6s forwards; }
.player.hand > div > div:nth-child(7)  {animation: fx-fadein .3s 2.7s forwards; -webkit-animation: fx-fadein .3s 2.7s forwards; -moz-animation: fx-fadein 3s 2.7s forwards; }
.player.hand > div > div:nth-child(8)  {animation: fx-fadein .3s 2.8s forwards; -webkit-animation: fx-fadein .3s 2.8s forwards; -moz-animation: fx-fadein 3s 2.8s forwards; }
.player.hand > div > div:nth-child(9)  {animation: fx-fadein .3s 2.9s forwards; -webkit-animation: fx-fadein .3s 2.9s forwards; -moz-animation: fx-fadein 3s 2.9s forwards; }
.player.hand > div > div:nth-child(10) {animation: fx-fadein .3s 3.0s forwards; -webkit-animation: fx-fadein .3s 3.0s forwards; -moz-animation: fx-fadein 3s 3.0s forwards; }
.player.hand > div > div:nth-child(11) {animation: fx-fadein .3s 3.1s forwards; -webkit-animation: fx-fadein .3s 3.1s forwards; -moz-animation: fx-fadein 3s 3.1s forwards; }
.player.hand > div > div:nth-child(12) {animation: fx-fadein .3s 3.2s forwards; -webkit-animation: fx-fadein .3s 3.2s forwards; -moz-animation: fx-fadein 3s 3.2s forwards; }
.player.hand > div > div:nth-child(13) {animation: fx-fadein .3s 3.3s forwards; -webkit-animation: fx-fadein .3s 3.3s forwards; -moz-animation: fx-fadein 3s 3.3s forwards; }
.player.hand > div > div:nth-child(14) {animation: fx-fadein .3s 3.4s forwards; -webkit-animation: fx-fadein .3s 3.4s forwards; -moz-animation: fx-fadein 3s 3.4s forwards; }
.player.hand > div > div:nth-child(15) {animation: fx-fadein .3s 3.5s forwards; -webkit-animation: fx-fadein .3s 3.5s forwards; -moz-animation: fx-fadein 3s 3.5s forwards; }
.player.hand > div > div:nth-child(16) {animation: fx-fadein .3s 3.6s forwards; -webkit-animation: fx-fadein .3s 3.6s forwards; -moz-animation: fx-fadein 3s 3.6s forwards; }
.player.hand > div > div:nth-child(17) {animation: fx-fadein .3s 3.7s forwards; -webkit-animation: fx-fadein .3s 3.7s forwards; -moz-animation: fx-fadein 3s 3.7s forwards; }


/*
change name of fx-card
move to parent element
...?
*/
.fx-card1:nth-child(1) {left:375px;transform:rotateZ(0deg);}

.fx-card2:nth-child(1) {left:360px;transform:rotateZ(-15deg);}
.fx-card2:nth-child(2) {left:390px;transform:rotateZ(15deg);}

.fx-card3:nth-child(1) {left:345px;transform:rotateZ(-30deg);}
.fx-card3:nth-child(2) {left:375px;transform:rotateZ(0deg);}
.fx-card3:nth-child(3) {left:405px;transform:rotateZ(30deg);}

.fx-card4:nth-child(1) {left:330px;transform:rotateZ(-45deg);}
.fx-card4:nth-child(2) {left:360px;transform:rotateZ(-15deg);}
.fx-card4:nth-child(3) {left:390px;transform:rotateZ(15deg);}
.fx-card4:nth-child(4) {left:420px;transform:rotateZ(45deg);}

.fx-card5:nth-child(1) {left:315px;transform:rotateZ(-60deg);}
.fx-card5:nth-child(2) {left:345px;transform:rotateZ(-30deg);}
.fx-card5:nth-child(3) {left:375px;transform:rotateZ(0deg);}
.fx-card5:nth-child(4) {left:405px;transform:rotateZ(30deg);}
.fx-card5:nth-child(5) {left:435px;transform:rotateZ(60deg);}

.fx-card6:nth-child(1) {left:300px;transform:rotateZ(-75deg);}
.fx-card6:nth-child(2) {left:330px;transform:rotateZ(-45deg);}
.fx-card6:nth-child(3) {left:360px;transform:rotateZ(-15deg);}
.fx-card6:nth-child(4) {left:390px;transform:rotateZ(15deg);}
.fx-card6:nth-child(5) {left:420px;transform:rotateZ(45deg);}
.fx-card6:nth-child(6) {left:450px;transform:rotateZ(75deg);}

.fx-card7:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card7:nth-child(2) {left:315px;transform:rotateZ(-60deg);}
.fx-card7:nth-child(3) {left:345px;transform:rotateZ(-30deg);}
.fx-card7:nth-child(4) {left:375px;transform:rotateZ(0deg);}
.fx-card7:nth-child(5) {left:405px;transform:rotateZ(30deg);}
.fx-card7:nth-child(6) {left:435px;transform:rotateZ(60deg);}
.fx-card7:nth-child(7) {left:465px;transform:rotateZ(90deg);}

.fx-card8:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card8:nth-child(2) {left:311px;transform:rotateZ(-64deg);}
.fx-card8:nth-child(3) {left:336px;transform:rotateZ(-39deg);}
.fx-card8:nth-child(4) {left:362px;transform:rotateZ(-13deg);}
.fx-card8:nth-child(5) {left:388px;transform:rotateZ(13deg);}
.fx-card8:nth-child(6) {left:414px;transform:rotateZ(39deg);}
.fx-card8:nth-child(7) {left:439px;transform:rotateZ(64deg);}
.fx-card8:nth-child(8) {left:465px;transform:rotateZ(90deg);}

.fx-card9:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card9:nth-child(2) {left:308px;transform:rotateZ(-67deg);}
.fx-card9:nth-child(3) {left:330px;transform:rotateZ(-45deg);}
.fx-card9:nth-child(4) {left:353px;transform:rotateZ(-22deg);}
.fx-card9:nth-child(5) {left:375px;transform:rotateZ(0deg);}
.fx-card9:nth-child(6) {left:398px;transform:rotateZ(23deg);}
.fx-card9:nth-child(7) {left:420px;transform:rotateZ(45deg);}
.fx-card9:nth-child(8) {left:443px;transform:rotateZ(68deg);}
.fx-card9:nth-child(9) {left:465px;transform:rotateZ(90deg);}

.fx-card10:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card10:nth-child(2) {left:305px;transform:rotateZ(-70deg);}
.fx-card10:nth-child(3) {left:325px;transform:rotateZ(-50deg);}
.fx-card10:nth-child(4) {left:345px;transform:rotateZ(-30deg);}
.fx-card10:nth-child(5) {left:365px;transform:rotateZ(-10deg);}
.fx-card10:nth-child(6) {left:385px;transform:rotateZ(10deg);}
.fx-card10:nth-child(7) {left:405px;transform:rotateZ(30deg);}
.fx-card10:nth-child(8) {left:425px;transform:rotateZ(50deg);}
.fx-card10:nth-child(9) {left:445px;transform:rotateZ(70deg);}
.fx-card10:nth-child(10) {left:465px;transform:rotateZ(90deg);}

.fx-card11:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card11:nth-child(2) {left:303px;transform:rotateZ(-72deg);}
.fx-card11:nth-child(3) {left:321px;transform:rotateZ(-54deg);}
.fx-card11:nth-child(4) {left:339px;transform:rotateZ(-36deg);}
.fx-card11:nth-child(5) {left:357px;transform:rotateZ(-18deg);}
.fx-card11:nth-child(6) {left:375px;transform:rotateZ(0deg);}
.fx-card11:nth-child(7) {left:393px;transform:rotateZ(18deg);}
.fx-card11:nth-child(8) {left:411px;transform:rotateZ(36deg);}
.fx-card11:nth-child(9) {left:429px;transform:rotateZ(54deg);}
.fx-card11:nth-child(10) {left:447px;transform:rotateZ(72deg);}
.fx-card11:nth-child(11) {left:465px;transform:rotateZ(90deg);}

.fx-card12:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card12:nth-child(2) {left:301px;transform:rotateZ(-74deg);}
.fx-card12:nth-child(3) {left:318px;transform:rotateZ(-57deg);}
.fx-card12:nth-child(4) {left:334px;transform:rotateZ(-41deg);}
.fx-card12:nth-child(5) {left:350px;transform:rotateZ(-25deg);}
.fx-card12:nth-child(6) {left:367px;transform:rotateZ(-8deg);}
.fx-card12:nth-child(7) {left:383px;transform:rotateZ(8deg);}
.fx-card12:nth-child(8) {left:400px;transform:rotateZ(25deg);}
.fx-card12:nth-child(9) {left:416px;transform:rotateZ(41deg);}
.fx-card12:nth-child(10) {left:432px;transform:rotateZ(57deg);}
.fx-card12:nth-child(11) {left:449px;transform:rotateZ(74deg);}
.fx-card12:nth-child(12) {left:465px;transform:rotateZ(90deg);}

.fx-card13:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card13:nth-child(2) {left:300px;transform:rotateZ(-75deg);}
.fx-card13:nth-child(3) {left:315px;transform:rotateZ(-60deg);}
.fx-card13:nth-child(4) {left:330px;transform:rotateZ(-45deg);}
.fx-card13:nth-child(5) {left:345px;transform:rotateZ(-30deg);}
.fx-card13:nth-child(6) {left:360px;transform:rotateZ(-15deg);}
.fx-card13:nth-child(7) {left:375px;transform:rotateZ(0deg);}
.fx-card13:nth-child(8) {left:390px;transform:rotateZ(15deg);}
.fx-card13:nth-child(9) {left:405px;transform:rotateZ(30deg);}
.fx-card13:nth-child(10) {left:420px;transform:rotateZ(45deg);}
.fx-card13:nth-child(11) {left:435px;transform:rotateZ(60deg);}
.fx-card13:nth-child(12) {left:450px;transform:rotateZ(75deg);}
.fx-card13:nth-child(13) {left:465px;transform:rotateZ(90deg);}

.fx-card14:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card14:nth-child(2) {left:299px;transform:rotateZ(-76deg);}
.fx-card14:nth-child(3) {left:313px;transform:rotateZ(-62deg);}
.fx-card14:nth-child(4) {left:327px;transform:rotateZ(-48deg);}
.fx-card14:nth-child(5) {left:340px;transform:rotateZ(-35deg);}
.fx-card14:nth-child(6) {left:354px;transform:rotateZ(-21deg);}
.fx-card14:nth-child(7) {left:368px;transform:rotateZ(-7deg);}
.fx-card14:nth-child(8) {left:382px;transform:rotateZ(7deg);}
.fx-card14:nth-child(9) {left:396px;transform:rotateZ(21deg);}
.fx-card14:nth-child(10) {left:410px;transform:rotateZ(35deg);}
.fx-card14:nth-child(11) {left:423px;transform:rotateZ(48deg);}
.fx-card14:nth-child(12) {left:437px;transform:rotateZ(62deg);}
.fx-card14:nth-child(13) {left:451px;transform:rotateZ(76deg);}
.fx-card14:nth-child(14) {left:465px;transform:rotateZ(90deg);}

.fx-card15:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card15:nth-child(2) {left:298px;transform:rotateZ(-77deg);}
.fx-card15:nth-child(3) {left:311px;transform:rotateZ(-64deg);}
.fx-card15:nth-child(4) {left:324px;transform:rotateZ(-51deg);}
.fx-card15:nth-child(5) {left:336px;transform:rotateZ(-39deg);}
.fx-card15:nth-child(6) {left:349px;transform:rotateZ(-26deg);}
.fx-card15:nth-child(7) {left:362px;transform:rotateZ(-13deg);}
.fx-card15:nth-child(8) {left:375px;transform:rotateZ(0deg);}
.fx-card15:nth-child(9) {left:388px;transform:rotateZ(13deg);}
.fx-card15:nth-child(10) {left:401px;transform:rotateZ(26deg);}
.fx-card15:nth-child(11) {left:414px;transform:rotateZ(39deg);}
.fx-card15:nth-child(12) {left:426px;transform:rotateZ(51deg);}
.fx-card15:nth-child(13) {left:439px;transform:rotateZ(64deg);}
.fx-card15:nth-child(14) {left:452px;transform:rotateZ(77deg);}
.fx-card15:nth-child(15) {left:465px;transform:rotateZ(90deg);}

.fx-card16:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card16:nth-child(2) {left:297px;transform:rotateZ(-78deg);}
.fx-card16:nth-child(3) {left:309px;transform:rotateZ(-66deg);}
.fx-card16:nth-child(4) {left:321px;transform:rotateZ(-54deg);}
.fx-card16:nth-child(5) {left:333px;transform:rotateZ(-42deg);}
.fx-card16:nth-child(6) {left:345px;transform:rotateZ(-30deg);}
.fx-card16:nth-child(7) {left:357px;transform:rotateZ(-18deg);}
.fx-card16:nth-child(8) {left:369px;transform:rotateZ(-6deg);}
.fx-card16:nth-child(9) {left:381px;transform:rotateZ(6deg);}
.fx-card16:nth-child(10) {left:393px;transform:rotateZ(18deg);}
.fx-card16:nth-child(11) {left:405px;transform:rotateZ(30deg);}
.fx-card16:nth-child(12) {left:417px;transform:rotateZ(42deg);}
.fx-card16:nth-child(13) {left:429px;transform:rotateZ(54deg);}
.fx-card16:nth-child(14) {left:441px;transform:rotateZ(66deg);}
.fx-card16:nth-child(15) {left:453px;transform:rotateZ(78deg);}
.fx-card16:nth-child(16) {left:465px;transform:rotateZ(90deg);}

.fx-card17:nth-child(1) {left:285px;transform:rotateZ(-90deg);}
.fx-card17:nth-child(2) {left:296px;transform:rotateZ(-79deg);}
.fx-card17:nth-child(3) {left:308px;transform:rotateZ(-67deg);}
.fx-card17:nth-child(4) {left:319px;transform:rotateZ(-56deg);}
.fx-card17:nth-child(5) {left:330px;transform:rotateZ(-45deg);}
.fx-card17:nth-child(6) {left:341px;transform:rotateZ(-34deg);}
.fx-card17:nth-child(7) {left:353px;transform:rotateZ(-22deg);}
.fx-card17:nth-child(8) {left:364px;transform:rotateZ(-11deg);}
.fx-card17:nth-child(9) {left:375px;transform:rotateZ(0deg);}
.fx-card17:nth-child(10) {left:386px;transform:rotateZ(11deg);}
.fx-card17:nth-child(11) {left:398px;transform:rotateZ(23deg);}
.fx-card17:nth-child(12) {left:409px;transform:rotateZ(34deg);}
.fx-card17:nth-child(13) {left:420px;transform:rotateZ(45deg);}
.fx-card17:nth-child(14) {left:431px;transform:rotateZ(56deg);}
.fx-card17:nth-child(15) {left:443px;transform:rotateZ(68deg);}
.fx-card17:nth-child(16) {left:454px;transform:rotateZ(79deg);}
.fx-card17:nth-child(17) {left:465px;transform:rotateZ(90deg);}

