
/* Uncomment to enable fx...
@-moz-keyframes fx-fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fx-fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fx-fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.deck figure { opacity: 0; }
.deck:nth-child(1) figure:nth-child(1) { animation: fx-fadein .3s 0.1s forwards; -webkit-animation: fx-fadein .3s 0.1s forwards; -moz-animation: fx-fadein .3s 0.1s forwards; }
.deck:nth-child(1) figure:nth-child(2) { animation: fx-fadein .3s 0.2s forwards; -webkit-animation: fx-fadein .3s 0.2s forwards; -moz-animation: fx-fadein .3s 0.2s forwards; }
.deck:nth-child(2) figure:nth-child(1) { animation: fx-fadein .3s 0.3s forwards; -webkit-animation: fx-fadein .3s 0.3s forwards; -moz-animation: fx-fadein .3s 0.3s forwards; }
.deck:nth-child(2) figure:nth-child(2) { animation: fx-fadein .3s 0.4s forwards; -webkit-animation: fx-fadein .3s 0.4s forwards; -moz-animation: fx-fadein .3s 0.4s forwards; }
.deck:nth-child(2) figure:nth-child(3) { animation: fx-fadein .3s 0.5s forwards; -webkit-animation: fx-fadein .3s 0.5s forwards; -moz-animation: fx-fadein .3s 0.5s forwards; }
.deck:nth-child(2) figure:nth-child(4) { animation: fx-fadein .3s 0.6s forwards; -webkit-animation: fx-fadein .3s 0.6s forwards; -moz-animation: fx-fadein .3s 0.6s forwards; }
.deck:nth-child(2) figure:nth-child(5) { animation: fx-fadein .3s 0.7s forwards; -webkit-animation: fx-fadein .3s 0.7s forwards; -moz-animation: fx-fadein .3s 0.7s forwards; }
.deck:nth-child(3) figure:nth-child(1) { animation: fx-fadein .3s 0.8s forwards; -webkit-animation: fx-fadein .3s 0.8s forwards; -moz-animation: fx-fadein .3s 0.8s forwards; }
.deck:nth-child(1) figure:nth-child(3) { animation: fx-fadein .3s 0.9s forwards; -webkit-animation: fx-fadein .3s 0.9s forwards; -moz-animation: fx-fadein .3s 0.9s forwards; }
.deck:nth-child(1) figure:nth-child(4) { animation: fx-fadein .3s 1.0s forwards; -webkit-animation: fx-fadein .3s 1.0s forwards; -moz-animation: fx-fadein .3s 1.0s forwards; }
.deck:nth-child(2) figure:nth-child(6) { animation: fx-fadein .3s 1.1s forwards; -webkit-animation: fx-fadein .3s 1.1s forwards; -moz-animation: fx-fadein .3s 1.1s forwards; }
.deck:nth-child(2) figure:nth-child(7) { animation: fx-fadein .3s 1.2s forwards; -webkit-animation: fx-fadein .3s 1.2s forwards; -moz-animation: fx-fadein .3s 1.2s forwards; }
.deck:nth-child(2) figure:nth-child(8) { animation: fx-fadein .3s 1.3s forwards; -webkit-animation: fx-fadein .3s 1.3s forwards; -moz-animation: fx-fadein .3s 1.3s forwards; }
.deck:nth-child(2) figure:nth-child(9) { animation: fx-fadein .3s 1.4s forwards; -webkit-animation: fx-fadein .3s 1.4s forwards; -moz-animation: fx-fadein .3s 1.4s forwards; }
.deck:nth-child(2) figure:nth-child(10){ animation: fx-fadein .3s 1.5s forwards; -webkit-animation: fx-fadein .3s 1.5s forwards; -moz-animation: fx-fadein .3s 1.5s forwards; }
.deck:nth-child(3) figure:nth-child(2) { animation: fx-fadein .3s 1.6s forwards; -webkit-animation: fx-fadein .3s 1.6s forwards; -moz-animation: fx-fadein .3s 1.6s forwards; }
.deck:nth-child(3) figure:nth-child(3) { animation: fx-fadein .3s 1.7s forwards; -webkit-animation: fx-fadein .3s 1.7s forwards; -moz-animation: fx-fadein .3s 1.7s forwards; }

.hand > div > div {
    opacity: 0;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.player.hand > div > div:nth-child(1)  {animation: fx-fadein .3s 2.1s forwards; -webkit-animation: fx-fadein .3s 2.1s forwards; -moz-animation: fx-fadein 3s 2.1s forwards; }
.player.hand > div > div:nth-child(2)  {animation: fx-fadein .3s 2.2s forwards; -webkit-animation: fx-fadein .3s 2.2s forwards; -moz-animation: fx-fadein 3s 2.2s forwards; }
.player.hand > div > div:nth-child(3)  {animation: fx-fadein .3s 2.3s forwards; -webkit-animation: fx-fadein .3s 2.3s forwards; -moz-animation: fx-fadein 3s 2.3s forwards; }
.player.hand > div > div:nth-child(4)  {animation: fx-fadein .3s 2.4s forwards; -webkit-animation: fx-fadein .3s 2.4s forwards; -moz-animation: fx-fadein 3s 2.4s forwards; }
.player.hand > div > div:nth-child(5)  {animation: fx-fadein .3s 2.5s forwards; -webkit-animation: fx-fadein .3s 2.5s forwards; -moz-animation: fx-fadein 3s 2.5s forwards; }
.player.hand > div > div:nth-child(6)  {animation: fx-fadein .3s 2.6s forwards; -webkit-animation: fx-fadein .3s 2.6s forwards; -moz-animation: fx-fadein 3s 2.6s forwards; }
.player.hand > div > div:nth-child(7)  {animation: fx-fadein .3s 2.7s forwards; -webkit-animation: fx-fadein .3s 2.7s forwards; -moz-animation: fx-fadein 3s 2.7s forwards; }
.player.hand > div > div:nth-child(8)  {animation: fx-fadein .3s 2.8s forwards; -webkit-animation: fx-fadein .3s 2.8s forwards; -moz-animation: fx-fadein 3s 2.8s forwards; }
.player.hand > div > div:nth-child(9)  {animation: fx-fadein .3s 2.9s forwards; -webkit-animation: fx-fadein .3s 2.9s forwards; -moz-animation: fx-fadein 3s 2.9s forwards; }
.player.hand > div > div:nth-child(10) {animation: fx-fadein .3s 3.0s forwards; -webkit-animation: fx-fadein .3s 3.0s forwards; -moz-animation: fx-fadein 3s 3.0s forwards; }
.player.hand > div > div:nth-child(11) {animation: fx-fadein .3s 3.1s forwards; -webkit-animation: fx-fadein .3s 3.1s forwards; -moz-animation: fx-fadein 3s 3.1s forwards; }
.player.hand > div > div:nth-child(12) {animation: fx-fadein .3s 3.2s forwards; -webkit-animation: fx-fadein .3s 3.2s forwards; -moz-animation: fx-fadein 3s 3.2s forwards; }
.player.hand > div > div:nth-child(13) {animation: fx-fadein .3s 3.3s forwards; -webkit-animation: fx-fadein .3s 3.3s forwards; -moz-animation: fx-fadein 3s 3.3s forwards; }
.player.hand > div > div:nth-child(14) {animation: fx-fadein .3s 3.4s forwards; -webkit-animation: fx-fadein .3s 3.4s forwards; -moz-animation: fx-fadein 3s 3.4s forwards; }
.player.hand > div > div:nth-child(15) {animation: fx-fadein .3s 3.5s forwards; -webkit-animation: fx-fadein .3s 3.5s forwards; -moz-animation: fx-fadein 3s 3.5s forwards; }
.player.hand > div > div:nth-child(16) {animation: fx-fadein .3s 3.6s forwards; -webkit-animation: fx-fadein .3s 3.6s forwards; -moz-animation: fx-fadein 3s 3.6s forwards; }
.player.hand > div > div:nth-child(17) {animation: fx-fadein .3s 3.7s forwards; -webkit-animation: fx-fadein .3s 3.7s forwards; -moz-animation: fx-fadein 3s 3.7s forwards; }*/

.hand > div > div {
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}
.fx-hand1:nth-child(1) {left:275px;transform:rotateZ(0deg);}

.fx-hand2:nth-child(1) {left:260px;transform:rotateZ(-15deg);}
.fx-hand2:nth-child(2) {left:290px;transform:rotateZ(15deg);}

.fx-hand3:nth-child(1) {left:245px;transform:rotateZ(-30deg);}
.fx-hand3:nth-child(2) {left:275px;transform:rotateZ(0deg);}
.fx-hand3:nth-child(3) {left:305px;transform:rotateZ(30deg);}

.fx-hand4:nth-child(1) {left:230px;transform:rotateZ(-45deg);}
.fx-hand4:nth-child(2) {left:260px;transform:rotateZ(-15deg);}
.fx-hand4:nth-child(3) {left:290px;transform:rotateZ(15deg);}
.fx-hand4:nth-child(4) {left:320px;transform:rotateZ(45deg);}

.fx-hand5:nth-child(1) {left:215px;transform:rotateZ(-60deg);}
.fx-hand5:nth-child(2) {left:245px;transform:rotateZ(-30deg);}
.fx-hand5:nth-child(3) {left:275px;transform:rotateZ(0deg);}
.fx-hand5:nth-child(4) {left:305px;transform:rotateZ(30deg);}
.fx-hand5:nth-child(5) {left:335px;transform:rotateZ(60deg);}

.fx-hand6:nth-child(1) {left:200px;transform:rotateZ(-75deg);}
.fx-hand6:nth-child(2) {left:230px;transform:rotateZ(-45deg);}
.fx-hand6:nth-child(3) {left:260px;transform:rotateZ(-15deg);}
.fx-hand6:nth-child(4) {left:290px;transform:rotateZ(15deg);}
.fx-hand6:nth-child(5) {left:320px;transform:rotateZ(45deg);}
.fx-hand6:nth-child(6) {left:350px;transform:rotateZ(75deg);}

.fx-hand7:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand7:nth-child(2) {left:215px;transform:rotateZ(-60deg);}
.fx-hand7:nth-child(3) {left:245px;transform:rotateZ(-30deg);}
.fx-hand7:nth-child(4) {left:275px;transform:rotateZ(0deg);}
.fx-hand7:nth-child(5) {left:305px;transform:rotateZ(30deg);}
.fx-hand7:nth-child(6) {left:335px;transform:rotateZ(60deg);}
.fx-hand7:nth-child(7) {left:365px;transform:rotateZ(90deg);}

.fx-hand8:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand8:nth-child(2) {left:211px;transform:rotateZ(-64deg);}
.fx-hand8:nth-child(3) {left:236px;transform:rotateZ(-39deg);}
.fx-hand8:nth-child(4) {left:262px;transform:rotateZ(-13deg);}
.fx-hand8:nth-child(5) {left:288px;transform:rotateZ(13deg);}
.fx-hand8:nth-child(6) {left:314px;transform:rotateZ(39deg);}
.fx-hand8:nth-child(7) {left:339px;transform:rotateZ(64deg);}
.fx-hand8:nth-child(8) {left:365px;transform:rotateZ(90deg);}

.fx-hand9:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand9:nth-child(2) {left:208px;transform:rotateZ(-67deg);}
.fx-hand9:nth-child(3) {left:230px;transform:rotateZ(-45deg);}
.fx-hand9:nth-child(4) {left:253px;transform:rotateZ(-22deg);}
.fx-hand9:nth-child(5) {left:275px;transform:rotateZ(0deg);}
.fx-hand9:nth-child(6) {left:298px;transform:rotateZ(23deg);}
.fx-hand9:nth-child(7) {left:320px;transform:rotateZ(45deg);}
.fx-hand9:nth-child(8) {left:343px;transform:rotateZ(68deg);}
.fx-hand9:nth-child(9) {left:365px;transform:rotateZ(90deg);}

.fx-hand10:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand10:nth-child(2) {left:205px;transform:rotateZ(-70deg);}
.fx-hand10:nth-child(3) {left:225px;transform:rotateZ(-50deg);}
.fx-hand10:nth-child(4) {left:245px;transform:rotateZ(-30deg);}
.fx-hand10:nth-child(5) {left:265px;transform:rotateZ(-10deg);}
.fx-hand10:nth-child(6) {left:285px;transform:rotateZ(10deg);}
.fx-hand10:nth-child(7) {left:305px;transform:rotateZ(30deg);}
.fx-hand10:nth-child(8) {left:325px;transform:rotateZ(50deg);}
.fx-hand10:nth-child(9) {left:345px;transform:rotateZ(70deg);}
.fx-hand10:nth-child(10) {left:365px;transform:rotateZ(90deg);}

.fx-hand11:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand11:nth-child(2) {left:203px;transform:rotateZ(-72deg);}
.fx-hand11:nth-child(3) {left:221px;transform:rotateZ(-54deg);}
.fx-hand11:nth-child(4) {left:239px;transform:rotateZ(-36deg);}
.fx-hand11:nth-child(5) {left:257px;transform:rotateZ(-18deg);}
.fx-hand11:nth-child(6) {left:275px;transform:rotateZ(0deg);}
.fx-hand11:nth-child(7) {left:293px;transform:rotateZ(18deg);}
.fx-hand11:nth-child(8) {left:311px;transform:rotateZ(36deg);}
.fx-hand11:nth-child(9) {left:329px;transform:rotateZ(54deg);}
.fx-hand11:nth-child(10) {left:347px;transform:rotateZ(72deg);}
.fx-hand11:nth-child(11) {left:365px;transform:rotateZ(90deg);}

.fx-hand12:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand12:nth-child(2) {left:201px;transform:rotateZ(-74deg);}
.fx-hand12:nth-child(3) {left:218px;transform:rotateZ(-57deg);}
.fx-hand12:nth-child(4) {left:234px;transform:rotateZ(-41deg);}
.fx-hand12:nth-child(5) {left:250px;transform:rotateZ(-25deg);}
.fx-hand12:nth-child(6) {left:267px;transform:rotateZ(-8deg);}
.fx-hand12:nth-child(7) {left:283px;transform:rotateZ(8deg);}
.fx-hand12:nth-child(8) {left:300px;transform:rotateZ(25deg);}
.fx-hand12:nth-child(9) {left:316px;transform:rotateZ(41deg);}
.fx-hand12:nth-child(10) {left:332px;transform:rotateZ(57deg);}
.fx-hand12:nth-child(11) {left:349px;transform:rotateZ(74deg);}
.fx-hand12:nth-child(12) {left:365px;transform:rotateZ(90deg);}

.fx-hand13:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand13:nth-child(2) {left:200px;transform:rotateZ(-75deg);}
.fx-hand13:nth-child(3) {left:215px;transform:rotateZ(-60deg);}
.fx-hand13:nth-child(4) {left:230px;transform:rotateZ(-45deg);}
.fx-hand13:nth-child(5) {left:245px;transform:rotateZ(-30deg);}
.fx-hand13:nth-child(6) {left:260px;transform:rotateZ(-15deg);}
.fx-hand13:nth-child(7) {left:275px;transform:rotateZ(0deg);}
.fx-hand13:nth-child(8) {left:290px;transform:rotateZ(15deg);}
.fx-hand13:nth-child(9) {left:305px;transform:rotateZ(30deg);}
.fx-hand13:nth-child(10) {left:320px;transform:rotateZ(45deg);}
.fx-hand13:nth-child(11) {left:335px;transform:rotateZ(60deg);}
.fx-hand13:nth-child(12) {left:350px;transform:rotateZ(75deg);}
.fx-hand13:nth-child(13) {left:365px;transform:rotateZ(90deg);}

.fx-hand14:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand14:nth-child(2) {left:199px;transform:rotateZ(-76deg);}
.fx-hand14:nth-child(3) {left:213px;transform:rotateZ(-62deg);}
.fx-hand14:nth-child(4) {left:227px;transform:rotateZ(-48deg);}
.fx-hand14:nth-child(5) {left:240px;transform:rotateZ(-35deg);}
.fx-hand14:nth-child(6) {left:254px;transform:rotateZ(-21deg);}
.fx-hand14:nth-child(7) {left:268px;transform:rotateZ(-7deg);}
.fx-hand14:nth-child(8) {left:282px;transform:rotateZ(7deg);}
.fx-hand14:nth-child(9) {left:296px;transform:rotateZ(21deg);}
.fx-hand14:nth-child(10) {left:310px;transform:rotateZ(35deg);}
.fx-hand14:nth-child(11) {left:323px;transform:rotateZ(48deg);}
.fx-hand14:nth-child(12) {left:337px;transform:rotateZ(62deg);}
.fx-hand14:nth-child(13) {left:351px;transform:rotateZ(76deg);}
.fx-hand14:nth-child(14) {left:365px;transform:rotateZ(90deg);}

.fx-hand15:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand15:nth-child(2) {left:198px;transform:rotateZ(-77deg);}
.fx-hand15:nth-child(3) {left:211px;transform:rotateZ(-64deg);}
.fx-hand15:nth-child(4) {left:224px;transform:rotateZ(-51deg);}
.fx-hand15:nth-child(5) {left:236px;transform:rotateZ(-39deg);}
.fx-hand15:nth-child(6) {left:249px;transform:rotateZ(-26deg);}
.fx-hand15:nth-child(7) {left:262px;transform:rotateZ(-13deg);}
.fx-hand15:nth-child(8) {left:275px;transform:rotateZ(0deg);}
.fx-hand15:nth-child(9) {left:288px;transform:rotateZ(13deg);}
.fx-hand15:nth-child(10) {left:301px;transform:rotateZ(26deg);}
.fx-hand15:nth-child(11) {left:314px;transform:rotateZ(39deg);}
.fx-hand15:nth-child(12) {left:326px;transform:rotateZ(51deg);}
.fx-hand15:nth-child(13) {left:339px;transform:rotateZ(64deg);}
.fx-hand15:nth-child(14) {left:352px;transform:rotateZ(77deg);}
.fx-hand15:nth-child(15) {left:365px;transform:rotateZ(90deg);}

.fx-hand16:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand16:nth-child(2) {left:197px;transform:rotateZ(-78deg);}
.fx-hand16:nth-child(3) {left:209px;transform:rotateZ(-66deg);}
.fx-hand16:nth-child(4) {left:221px;transform:rotateZ(-54deg);}
.fx-hand16:nth-child(5) {left:233px;transform:rotateZ(-42deg);}
.fx-hand16:nth-child(6) {left:245px;transform:rotateZ(-30deg);}
.fx-hand16:nth-child(7) {left:257px;transform:rotateZ(-18deg);}
.fx-hand16:nth-child(8) {left:269px;transform:rotateZ(-6deg);}
.fx-hand16:nth-child(9) {left:281px;transform:rotateZ(6deg);}
.fx-hand16:nth-child(10) {left:293px;transform:rotateZ(18deg);}
.fx-hand16:nth-child(11) {left:305px;transform:rotateZ(30deg);}
.fx-hand16:nth-child(12) {left:317px;transform:rotateZ(42deg);}
.fx-hand16:nth-child(13) {left:329px;transform:rotateZ(54deg);}
.fx-hand16:nth-child(14) {left:341px;transform:rotateZ(66deg);}
.fx-hand16:nth-child(15) {left:353px;transform:rotateZ(78deg);}
.fx-hand16:nth-child(16) {left:365px;transform:rotateZ(90deg);}

.fx-hand17:nth-child(1) {left:185px;transform:rotateZ(-90deg);}
.fx-hand17:nth-child(2) {left:196px;transform:rotateZ(-79deg);}
.fx-hand17:nth-child(3) {left:208px;transform:rotateZ(-67deg);}
.fx-hand17:nth-child(4) {left:219px;transform:rotateZ(-56deg);}
.fx-hand17:nth-child(5) {left:230px;transform:rotateZ(-45deg);}
.fx-hand17:nth-child(6) {left:241px;transform:rotateZ(-34deg);}
.fx-hand17:nth-child(7) {left:253px;transform:rotateZ(-22deg);}
.fx-hand17:nth-child(8) {left:264px;transform:rotateZ(-11deg);}
.fx-hand17:nth-child(9) {left:275px;transform:rotateZ(0deg);}
.fx-hand17:nth-child(10) {left:286px;transform:rotateZ(11deg);}
.fx-hand17:nth-child(11) {left:298px;transform:rotateZ(23deg);}
.fx-hand17:nth-child(12) {left:309px;transform:rotateZ(34deg);}
.fx-hand17:nth-child(13) {left:320px;transform:rotateZ(45deg);}
.fx-hand17:nth-child(14) {left:331px;transform:rotateZ(56deg);}
.fx-hand17:nth-child(15) {left:343px;transform:rotateZ(68deg);}
.fx-hand17:nth-child(16) {left:354px;transform:rotateZ(79deg);}
.fx-hand17:nth-child(17) {left:365px;transform:rotateZ(90deg);}

