
div.deck { position: absolute; top: 0; }

div.deck.kingdoms  { width: 800px; left: 320px;  }
div.deck.treasures { width: 160px; right: 0;  }
div.deck.victories { width: 320px; left: 0;  }

div.deck.kingdoms  figure { border: 4px solid black; }
div.deck.treasures figure { border: 4px solid darkgoldenrod; }
div.deck.victories figure { border: 4px solid green; }
div.deck.victories figure.curse { border-color: purple; }

div.deck figure {
    background: black;
    -webkit-border-radius: 0 8px;
    -moz-border-radius: 0 8px;
    -ms-border-radius: 0 8px;
    border-radius: 0 8px;
    cursor: pointer;
    float: left;
    margin: 0 4px 4px 0;
    position: relative;
    width: 148px;
}
/*div.deck div.count { */
div.deck figure:after {
    content: attr(data-count);
    background-color:black;
    border: 1px solid lightgoldenrodyellow;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    border-radius: 48px;
    color: lightgoldenrodyellow;
    cursor: pointer;
    font-weight:bold;
    font-size: 1.1rem;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: -2px;
    right: -2px;
    width: 24px;
}
div.deck img.art {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    -ms-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
    cursor: pointer;
    width: 100%;
    height: 110px;
}

div.deck div.buy {
    background: transparent url(../images/plus.png) center center/100% 100% no-repeat;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
div.deck figcaption {
    background: black none left center/auto 100% no-repeat;
    border-radius: 0 0 0 4px;
    color: lightgoldenrodyellow;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
    height: 20px;
    line-height: 21px;
    margin: -1px 0 2px 2px;
    padding-left: 24px;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
div.deck figcaption:first-letter {
    font-family: 'Uncial Antiqua', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: larger;
    font-weight: bold;
}
div.deck div.buy:hover + figcaption {
    padding-left: 27px;
}
div.deck img.coin {
    background-color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    bottom: 2px;
    cursor: pointer;
    left: 2px;
    height: 20px;
    position: absolute;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    width: 20px;
}
div.deck div.buy:hover + figcaption + img {
    bottom: -2px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 15px 8px lightgoldenrodyellow;
    -moz-box-shadow: 0 0 15px 8px lightgoldenrodyellow;
    -ms-box-shadow: 0 0 15px 8px lightgoldenrodyellow;
    box-shadow: 0 0 15px 8px lightgoldenrodyellow;
    height: 28px;
    left: -2px;
    width: 28px;
}
div.deck div.overlay {
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 0 8px;
    -moz-border-radius: 0 8px;
    -ms-border-radius: 0 8px;
    border-radius: 0 8px;
    cursor: not-allowed;
    height: calc(100% + 8px);
    left: -4px;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
}

/* The message displayed on the screen */
div.deck div.message {

}

/* The individual cards css is generated and resides in fx.css */
div.hand {
    bottom: 0;
    height: 340px;
    position: absolute;
    left: 290px;
    width: 700px;
}

div.hand > div {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
div.hand > div > div {
    /* Do not change to "background: transparent none centeer center/100% 100% no-repeat;"
       because it will break the effect.*/
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 240px;
    position: absolute;
    top: 15px;
    width: 150px;
}

div.hand > div > div:after {
    content: attr(data-count);
    background-color:black;
    border: 1px solid lightgoldenrodyellow;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    border-radius: 48px;
    color: lightgoldenrodyellow;
    cursor: pointer;
    font-weight:bold;
    font-size: 1.1rem;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 32px;
    left: 12px;
    width: 24px;
}

div.hand > div > div.glow {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    margin: -1px 0 0 -1px;
}

div.playing {
    background: transparent url(../images/table.png) center center/100% 100% no-repeat;
    border-collapse: collapse;
    font-size: 0;
    height: 210px;
    left: 170px;
    position: absolute;
    top: 380px;
    width: 940px;
}
div.playing > div {
    background: transparent none center center/100% 100% no-repeat;
    width: 100px; height: 160px;
    display: inline-block;
    margin-left: -50px;
    margin-top: 25px;
}
div.playing > div:first-child {
    margin-left: 20px !important;
}

div.game div.message {
    top: 300px;
    left: 170px;
    position: absolute;
    width: 940px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.gold{background-image:url(../images/cards/gold.jpg);}
.silver{background-image:url(../images/cards/silver.jpg);}
.copper{background-image:url(../images/cards/copper.jpg);}
.adventurer{background-image:url(../images/cards/adventurer.jpg);}
.bureaucrat{background-image:url(../images/cards/bureaucrat.jpg);}
.cellar{background-image:url(../images/cards/cellar.jpg);}
.chancellor{background-image:url(../images/cards/chancellor.jpg);}
.chapel{background-image:url(../images/cards/chapel.jpg);}
.council-room{background-image:url(../images/cards/council_room.jpg);}
.feast{background-image:url(../images/cards/feast.jpg);}
.festival{background-image:url(../images/cards/festival.jpg);}
.gardens{background-image:url(../images/cards/gardens.jpg);}
.laboratory{background-image:url(../images/cards/laboratory.jpg);}
.library{background-image:url(../images/cards/library.jpg);}
.market{background-image:url(../images/cards/market.jpg);}
.militia{background-image:url(../images/cards/militia.jpg);}
.mine{background-image:url(../images/cards/mine.jpg);}
.moat{background-image:url(../images/cards/moat.jpg);}
.moneylender{background-image:url(../images/cards/moneylender.jpg);}
.remodel{background-image:url(../images/cards/remodel.jpg);}
.smithy{background-image:url(../images/cards/smithy.jpg);}
.spy{background-image:url(../images/cards/spy.jpg);}
.thief{background-image:url(../images/cards/thief.jpg);}
.throne-room{background-image:url(../images/cards/throne_room.jpg);}
.village{background-image:url(../images/cards/village.jpg);}
.witch{background-image:url(../images/cards/witch.jpg);}
.woodcutter{background-image:url(../images/cards/woodcutter.jpg);}
.workshop{background-image:url(../images/cards/workshop.jpg);}
.province{background-image:url(../images/cards/province.jpg);}
.duchy{background-image:url(../images/cards/duchy.jpg);}
.estate{background-image:url(../images/cards/estate.jpg);}
.curse{background-image:url(../images/cards/curse.jpg);}

/* COINS add others when needed */
/* Removed to have a hover effect on "img" element
.coin8 { background-image:url('../images/cards/coins/coin8.png') }
.coin7 { background-image:url('../images/cards/coins/coin7.png') }
.coin6 { background-image:url('../images/cards/coins/coin6.png') }
.coin5 { background-image:url('../images/cards/coins/coin5.png') }
.coin4 { background-image:url('../images/cards/coins/coin4.png') }
.coin3 { background-image:url('../images/cards/coins/coin3.png') }
.coin2 { background-image:url('../images/cards/coins/coin2.png') }
.coin0 { background-image:url('../images/cards/coins/coin0.png') }
*/







/* The cards of the player */

/*

div.player.table,
div.player.hand {
    background: transparent none center center/100% 100% no-repeat;
    width: 1116px;
    height: 335px;
    position: absolute;
    left: 0;
}
div.player.table {
    background-image: url(../images/table.png);
    top: 294px;
}
div.player.hand {
    background-image: url(../images/table.png);
    bottom: 0;
    left: 0;
}

div.player.table img,
div.player.hand img {
    float: left;
    margin-top: 18px;
    height: 300px;
    width: 188px;
    /*margin-left: -143px;

}
div.player.hand img:after {
    content: "hello";
    position: absolute;
    z-index:100000;
    left:-50px;
    top:10px;
    color: green;
    transform: rotate(90deg);
    transform-origin: left top 0;
    font-size: 48pt;
}

div.player.table img:first-child,
div.player.hand img:first-child {
    margin-left: 35px !important;
}*/