/* Google fonts, todo: download and use local */
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua);
@import url(https://fonts.googleapis.com/css?family=Muli);

/* No selection of text */
* {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Using rem requires a font size set on the html element. */
html, body {
    font: 16px "Times New Roman", Times, serif;
    color: lightgoldenrodyellow;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body {
    background: black url("../images/background2.jpg") center center/cover no-repeat fixed;
    overflow: auto;
}

/* Display table for smooth vertical alignment. */
.table {
    position:absolute;
    display: table;
    table-layout: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.table.background {
    background: black url("../images/background2.jpg") center center/cover no-repeat fixed;
}
.table.overlay {
    display: none;
    opacity: 0;
}

/* Add a cell with vertical aligned content. (parent has display:table) */
.cell {
    display: table-cell;
    vertical-align: middle;
}

/* Clear the default anchor css */
a, a:active, a:hover, a:link, a:visited {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

/* Each page is a "view". Relative so it's children can be positioned absolute. */
.view {
    display: none;
    height: 960px;
    margin: 0 auto;
    width: 1280px;
    position: relative;
}

/* Overlay with a very large shadow. */
.table.overlay .view {
    background: rgba(250, 250, 210, 0.4);
    -webkit-box-shadow: 0 0 300px 200px rgba(250, 250, 210, 0.4);
    -moz-box-shadow: 0 0 300px 200px rgba(250, 250, 210, 0.45);
    box-shadow: 0 0 300px 200px rgba(250, 250, 210, 0.4);
    display: block;
}

/* Scott Kellum hack */
.img-title {
    background: transparent none top center/auto 100% no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    height: 260px;
}

/* Default buttons css */
.img-button {
    background: transparent none center center/auto 100% no-repeat;
    border-radius: 30px;
    display: block;
    height: 125px;
    margin: 50px auto 0 auto;
    width: 400px;
}
.button-back {
    background: url(../images/back.png) top center/auto 100% no-repeat;
    border-radius: 30px;
    cursor: pointer;
    height: 100px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}
.view .img-button:focus {
    background-color: rgba(250, 250, 210, 0.4);
    -webkit-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.4);
    -moz-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.4);
    box-shadow: 0 0 30px 30px rgba(250, 250, 210, 0.4);
}
.view .img-button:active, .view .img-button:hover {
    background-color: rgba(250, 250, 210, 0.1);
    -webkit-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.1);
    -moz-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.1);
    box-shadow: 0 0 30px 30px rgba(250, 250, 210, 0.1);;
}
.view .button-back:focus {
    background-color: rgba(250, 250, 210, 0.7);
    -webkit-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.7);
    -moz-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.7);
    box-shadow: 0 0 30px 30px rgba(250, 250, 210, 0.7);
}
.view .button-back:active, .view .button-back:hover  {
    background-color: rgba(250, 250, 210, 0.4);
    -webkit-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.4);
    -moz-box-shadow: 0 0 100px 0 rgba(250, 250, 210, 0.4);
    box-shadow: 0 0 30px 30px rgba(250, 250, 210, 0.4);
}

/* home view specific */
.view.home h1 { background-image: url(../images/logo_schaduw.png) }
.view.home .new-game { background-image: url(../images/new_game.png) }
.view.home .continue-game { background-image: url(../images/continue_game.png) }
.view.home .view-high-scores { background-image: url(../images/view_high_scores.png) }

/* new-game view specific */
.view.new-game h2 { background-image: url(../images/new_game.png) }
.view.new-game .players2 { background-image: url(../images/2players.png) }
.view.new-game .players3 { background-image: url(../images/3players.png) }
.view.new-game .players4 { background-image: url(../images/4players.png) }

/* game-info view specific */
.view.game-info h2 { background-image: url(../images/new_game.png) }
.view.game-info .game-settings { background-image: url(../images/settings.png) }
.view.game-info .start-game { background-image: url(../images/start_mini.png) }
.view.game-info input, select { width: 500px; }
.view.game-info label {
    display: block;
    margin: 0 auto;
    width: 700px;
    padding: 8px;
    font-size: 2rem;
    text-align: right;
}
.view.game-info .buttons {
    margin: 0 auto;
    text-align: center;
    width: 812px;
}
.view.game-info .img-button {
    display: inline-block;
    height: 125px;
    margin-right: 100px;
    width: 300px;
}
.view.game-info .img-button:last-child { margin-right: 0; }

/* game-id view specific */
.view.game-id h2 { background-image: url(../images/game_id.png) }
.view.game-id .game-id-ok { background-image: url(../images/ok.png)}
.view.game-id label {
    display: block;
    margin: 0 auto 20px auto;
    font-size: 2rem;
    text-align: center;
    text-transform: none;
    width: 1000px;
}
.view.game-id input {
    background: palegoldenrod;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    width: 650px;
}

/* ... google clearfix ;) ...
.clear-fix {
    content: "";
    display: table;
    clear: both;
} */

/* Full screen images */
.full-screen {
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    background: transparent none center center/100% 100% no-repeat;
}
.full-screen.reduced { background-image: url(../images/fullscreen.png) }
.full-screen.enabled { background-image: url(../images/reduce.png) }
